<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'cat/pexels-photo1.jpg.jpg' %>); background-position: bottom center;">
  <div class="container">
    <div class="row justify-content cols-xs-space">
      <div class="col-lg-4 edito">
        <div class="form-card form-card--style-2 z-depth-2-top">
          <div class="form-header text-center">
            <div class="form-header-icon">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="form-body">
            <div class="text-center px-2">
              <h4 class="heading heading-4 strong-400 mb-4">Modifier mon profil</h4>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form class="form-default" role="form">
              
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group has-feedback">
                     <%= f.label :Nom_complet %><br />
                        <%= f.text_field :fullname, autocomplete: "off", placeholder: "Prénom + nom",  class: 'form-control form-control-lg' %>

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Adresse e-email ", class: 'form-control form-control-lg' %>
                  </div>
                </div>
              </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group has-feedback">
                    <%= f.label :Nouveau_mot_de_passe %> <i>(si vous souhaitez changer de mot de passe)</i><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-lg'%>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group has-feedback">
                     <%= f.label :Confirmation_mot_de_passe %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-lg' %>
                </div></div>
              </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group has-feedback">
                    <%= f.label :mot_de_passe_actuel %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer vos modifications)</i><br />
                      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control form-control-lg' %>
              </div></div>
            </div>
              <%= f.submit "Enregistrer", class:"btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
                <% end %>
              <div class="text-center px-2">
              <h4 class="heading heading-4 strong-400 mb-4 mt-4">Supprimer mon compte</h4>
            </div>

            <%= button_to "Supprimer mon compte",registration_path(resource_name), class:"btn btn-styled btn-lg btn-block btn-base-1 mt-4 btn-danger", data: { confirm: "Êtes-vous sûr?" }, method: :delete %>

            <%= link_to "Retour", :back %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
