 <section class="slice-sm sct-color-1">
 	<div class="profile">
 		<div class="container">
 			<div class="row cols-xs-space cols-sm-space cols-md-space">
 				<div class="col-lg-4">
 					<div class="sidebar sidebar--style-2 no-border stickyfill">
 						<div class="widget">
 							<!-- Profile picture -->
 							<div class="profile-picture profile-picture--style-2">
 								    <a class="navbar-brand" href="<%= '/' %>">
								      <img src="https://images.pexels.com/photos/982300/pexels-photo-982300.jpeg?auto=compress&cs=tinysrgb&h=350" alt="logo" style="width:200px;">
								    </a>
 							</div>
 							<!-- Profile details -->
 							<div class="profile-details">
 								<h2 class="heading heading-4 strong-500 profile-name"><%= current_user.fullname%></h2>
 								<h3 class="heading heading-6 strong-400 profile-occupation mt-3">Email: <%= current_user.email %></h3>
 							</div>
 							<div class="profile-connect mt-4">
                          		<%= link_to "Mon panier", panier_path, class:'btn btn-styled btn-lg btn-block btn-base-1' %>
                          		<%= link_to "Modifier mon profil", panier_path, class:'btn btn-styled btn-lg btn-block btn-base-6' %>
 							</div>
 						</div>
 					</div>
 				</div>

 				<div class="col-lg-8">
 					<div class="main-content">
 						<!-- Page title -->
 						<div class="page-title">
 							<div class="row align-items-center">
 								<div class="col-lg-6 col-12">
 									<h2 class="heading heading-10 text-capitalize strong-500 mt-2 mb-4">Mes commandes
 									</h2>
 								</div>

 							</div>
 						</div>
 						<div class="card no-border">
 							<div>
 								<table class="table table-sm table-hover">
 									<thead>
 										<tr>
 											<th>
 											</th>
 											<th>Commande</th>
 											<th>Date</th>
 											<th>Prix</th>
 										</tr>
 									</thead>

 									<tbody>
 										<tr>
 											<td>
 											</td>
 											<td>
 												<a href="#">WPX-1500</a>
 											</td>
 											<td>06/08/2018</td>
 											<td>
 												25.00 EUR
 											</td>
 										</tr>
 									</tbody>
 								</table>
 							</div>
 						</div>

 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>