<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="index, follow">
<meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
<meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
<meta name="author" content="Webpixels">

<title>Boomerang - Multipurpose Bootstrap Theme</title>

</head>
<body>


<!-- MAIN WRAPPER -->

                    <!-- Slider -->
 <section class="slice-lg page-title bg-img">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h3 class="heading heading-1 strong-400 text-capitalize mb-2">
                                            <span>Accessories</span>
                                        </h3>

                                        <ol class="breadcrumb breadcrumb--style-2 justify-content-center">
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Home</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Shop</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Accessories</a>
                                            </li>
                                        </ol>
                                    </div>

                                    <!-- Fluid text paragraph -->
                                    <div class="fluid-paragraph text-center mt-4">
                                        <p class="">
                                            Parturient mus aenean a suspendisse est ligula eu dui a ultricies dictumst porttitor rhoncus a vestibulum est parturient.
                                        </p>
                                        <a href="#" class="btn btn-styled btn-base-4 mt-4" data-scroll-to="#sct_products">
                                            Start shopping
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-3">
                                <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
                                    <span>Featured collections</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 font-custom-4 text-center">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore isque ut nulla.
                            </div>

                            <span class="space-xs-md"></span>

                            <div class="masonry-container">
                                <div class="row row-cols-gutter-xs masonry">
                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                                <a href="#">
                                                	<%= image_tag('prv/shop/accessories/img-promo-1.png') %>
                                                </a>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0">
                                                            Jackets
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            See products
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                            	<%= image_tag('prv/shop/accessories/img-promo-3.png') %>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0">
                                                            Sunglasses
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            See products
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                                <a href="#">
                                                	<%= image_tag('prv/shop/accessories/img-promo-4.png') %>
                                                </a>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0">
                                                            Backpacks
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            See products
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                            	<%= image_tag('prv/shop/accessories/img-promo-2.png') %>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0">
                                                            Home Accessories
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            See products
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice border-top">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
                                    <span>Trending products</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <%= image_tag('prv/shop/accessories/img-1a.png') %>
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Wood phone case</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">80.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <img src="../../assets/images/prv/shop/accessories/img-2a.png">
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Dark leather bag</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">500.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <img src="../../assets/images/prv/shop/accessories/img-3a.png">
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather wallet</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                         <%= image_tag('prv/shop/accessories/img-1a.png') %>
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Gray fabric hat</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">60.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <%= image_tag('prv/shop/accessories/img-1a.png') %>
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Satin rose-gold scarf</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">50.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <%= image_tag('prv/shop/accessories/img-1a.png') %>
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Faux leather gloves</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">110.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                         <%= image_tag('prv/shop/accessories/img-1a.png') %>
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather hat</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product bg-transparent no-radius">
                                            <div class="product-image">
                                                <div class="view view-first">
                                                    <a href="#">
                                                        <img src="../../assets/images/prv/shop/accessories/img-8a.png">
                                                    </a>
                                                </div>

                                                <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-bag"></i>
                                                    </button>

                                                    <button type="button" class="btn-product-action">
                                                        <i class="ion-ios-heart-outline"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="block-body px-0">
                                                <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Leather bracelet</h3>
                                                <span class="star-rating star-rating-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">30.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-sm sct-color-1 border-top border-bottom">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4 b-lg-right">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Free shipping in 48/72H</h3>
                                        <p class="c-gray-light line-height-1_6">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4 b-lg-right">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Free returns</h3>
                                        <p class="c-gray-light line-height-1_6">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Secure payment</h3>
                                        <ul class="inline-links mt-2">
                                            <li>
                                                 <%= image_tag('icons/cards/visa.png') %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-5">
                    <div class="col">
                        <img src="../../assets/images/logo/logo-1-c.png">
                        <span class="clearfix"></span>
                        <span class="heading heading-sm c-gray-light strong-400">One template. Infinite solutions.</span>
                        <p class="mt-3">
                            All the components included in Boomerang are built to the same level of quality as Bootstrap and highlighted with several example pages.
                        </p>

                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018                                <a href="https://webpixels.io" target="_blank">
                                    <strong>Webpixels</strong>
                                </a> -
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                           Support
                       </h4>

                       <ul class="footer-links">
                            <li><a href="#" title="Help center">Help center</a></li>
                            <li><a href="#" title="Discussions">Discussions</a></li>
                            <li><a href="#" title="Contact support">Contact</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Company
                        </h4>

                        <ul class="footer-links">
                             <li>
                                 <a href="#" title="Home">
                                     Home
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="About us">
                                     About us
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Services">
                                     Services
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Blog">
                                     Blog
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Contact">
                                     Contact
                                 </a>
                             </li>
                         </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Get in touch
                        </h4>

                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>

</body>
</html>
