<% if flash[:success] %>
<div class="container">
    <div class="alert-success"><%= flash[:success] %></div>
</div>
<% end %>
<section class="slice-xl page-title border-bottom has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'cat/bg-panier.jpg' %>);">
  <div class="container mask-container">
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <h3 class="heading heading-1 strong-600 text-capitalize mb-1">
            <span>Mon panier</span>
          </h3>

          <ol class="breadcrumb breadcrumb--style-2">
            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
            <li class="breadcrumb-item"><a href="<%= shop_path %>">Voir le magasin</a></li>
            <li class="breadcrumb-item"><a href="javascript:history.back()">Retour</a></li>
          </ol>
        </div>

        <!-- Fluid text paragraph -->
        <div class="pb-4 mt-4">
          <p class="lead">
            Parce qu'un chat peut égayer votre vie
          </p>
        </div>
      </div>
    </div>
  </div>
</section>





<% if @cart.items.empty? %> 
<section class="slice-xl sct-color-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="text-center">
          <div class="d-block font-size-3 font-size-md-6 c-gray-light">
            <i class="fa fa-shopping-cart"></i>
          </div>

          <h2 class="heading heading-3 strong-600">Votre panier est vide.</h2>
          <p class="mt-4 px-5">
            Votre panier est pour l'instant vide. Retournez vers notre magasin pour profiter des derniéres photos que nous avons selectionnés pour vous.
          </p>
          <a href="<%= shop_path %>" class="btn btn-styled btn-base-1 mt-5">
            Retourner dans la galerie
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<% else %>
<section class="slice sct-color-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 mt--150">
          <div class="card">
            <div class="card-body">
              <table class="table-cart">
                <thead>
                  <tr>
                    <th class="product-image"></th>
                    <th class="product-name">Titre</th>
                    <th class="product-quanity d-none d-md-table-cell">Quantité</th>
                    <th class="product-total">Prix</th>
                    <th class="product-remove"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @cart.items.each do |item| %>
                  <tr class="cart-item">
                    <td class="product-image d-flex justify-content-center">
                      <img src="<%= item.url %>" style='width:auto;height:80px;margin: 3px 0'>
                    </td>

                    <td class="product-name">
                      <%= item.title %>
                    </td>

                    <td class="product-quantity d-none d-md-table-cell">
                      1
                    </td>
                    <td class="product-total">
                      <span><%= item.price %> €</span>
                    </td>
                    <td class="product-remove">
                      <a href="<%= remove_path(item.id) %>" class="text-right pl-4">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row align-items-center pt-5">
            <div class="col-6">
              <a href="<%= shop_path %>" class="link link--style-3">
                <i class="fa fa-angle-left"></i>
                Voir les produits
              </a>
            </div>
            <div class="col-6 text-right">
              <% unless user_signed_in? %>
              <a href="/users/sign_up" class="btn btn-styled btn-base-1">Connectez-vous pour commander</a>
              <% else %>
              <%= form_tag pay_path do %>
              <article>
                <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
                <% end %>
                <label class="amount">
                  <span>Montant: <%= @sum.round(2) %> €</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Panier"
              data-amount="<%= @sum * 100 %>"
              data-currency="EUR"
              data-locale="auto"></script>
              <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<% end %>
