<h1>Merci pour votre achat <%= @client.email %>!</h1>
<p>Voici vos achats:</p>
<ol>
	<% @commande.items.each do |i| %>
		<li>image <%= i.url %> <br>
		<%= i.title %> <br>
		<%= i.description %> <br>
		<%= i.price %></li>
	<% end %>
</ol>

