<h1>Merci pour votre achat <%= @client.fullname %>!</h1>
<p>Voici vos achats:</p>
<ol>
	<% @commande.items.each do |i| %>
		<li><%= i.title %> <br>
		<img src="<%= i.url %>"> <br>
		<%= i.description %> <br>
		<%= i.price %>€</li>
	<% end %>
</ol>

