<section class="slice sct-color-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <!-- Product gallery -->
        <div class="gallery-container">
          <div id="slideshow" class="gallery-top no-padding bg-transparent">
            <img src="<%= @item.image %>" alt="Bird">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="px-4">
          <!-- Product description -->
          <div class="product-description-wrapper">
            <!-- Product title -->
            <h2 class="product-title heading heading-3 strong-400 text-capitalize">
             <%= @item.title %>
            </h2>

            <hr>

            <!-- Product description -->
            <div class="product-short-text mt-4">
              <h3 class="heading heading-xs strong-500 text-uppercase">
                Description:
              </h3>
              <p>
                <%= @item.description %>
              </p>
            </div>

            <!-- Price tag -->
            <div class="product-price py-3"><strong><%= @item.price %></strong>€</div>

            <!-- Add to cart button -->
              <%= link_to 'ajouter au panier', add_path(@item.id), class: 'btn btn-styled btn-lg btn-block btn-base-1 btn-cart mt-2' %>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice border-top">
  <div class="container">
    <div class="section-title section-title--style-1 text-center">
      <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
        <span>Nos Meilleurs Produits</span>
      </h3>
      <span class="section-title-delimiter clearfix d-none"></span>
    </div>

    <div class="row-wrapper">
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-3 col-md-6">
          <div class="block product bg-transparent no-radius">
            <div class="product-image">
              <div class="view view-first">
                <a href="/items/1">
                  <img src="/assets/cat/adorable-animal-cat-127028-1d8d8212ca1a572762909f2e3e1809049ec4f47b93dd3a9086ee160fadb43b52.jpg">
                </a>
              </div>

              <div class="block-body px-0">
                <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= Item.find(1).title %></h3>
                <div class="price-wrapper">
                  <span class="price heading-6 c-gray-light strong-400">€<span class="price-value"><%= Item.find(1).price %></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="block product bg-transparent no-radius">
            <div class="product-image">
              <div class="view view-first">
                <a href="/items/2">
                  <img src="/assets/cat/adorable-animal-cat-127028-1d8d8212ca1a572762909f2e3e1809049ec4f47b93dd3a9086ee160fadb43b52.jpg">
                </a>
              </div>

              <div class="block-body px-0">
                <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= Item.find(2).title %></h3>
                <div class="price-wrapper">
                  <span class="price heading-6 c-gray-light strong-400">€<span class="price-value"><%= Item.find(2).price %></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="block product bg-transparent no-radius">
            <div class="product-image">
              <div class="view view-first">
                <a href="/items/3">
                  <img src="/assets/cat/adorable-animal-cat-127028-1d8d8212ca1a572762909f2e3e1809049ec4f47b93dd3a9086ee160fadb43b52.jpg">
                </a>
              </div>

              <div class="block-body px-0">
                <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= Item.find(3).title %></h3>
                <div class="price-wrapper">
                  <span class="price heading-6 c-gray-light strong-400">€<span class="price-value"><%= Item.find(3).price %></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="block product bg-transparent no-radius">
            <div class="product-image">
              <div class="view view-first">
                <a href="/items/4">
                  <img src="/assets/cat/adorable-animal-cat-127028-1d8d8212ca1a572762909f2e3e1809049ec4f47b93dd3a9086ee160fadb43b52.jpg">
                </a>
              </div>

              <div class="block-body px-0">
                <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= Item.find(4).title %></h3>
                <div class="price-wrapper">
                  <span class="price heading-6 c-gray-light strong-400">€<span class="price-value"><%= Item.find(4).price %></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</section>
