<section class="slice sct-color-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <!-- Product gallery -->
        <div class="gallery-container">
          <div id="slideshow" class="gallery-top no-padding bg-transparent">
            <img src="<%= @item.url %>" alt="Bird">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="px-4">
          <!-- Product description -->
          <div class="product-description-wrapper">
            <!-- Product title -->
            <h2 class="product-title heading heading-3 strong-400 text-capitalize">
             <%= @item.title %>
            </h2>

            <hr>

            <!-- Product description -->
            <div class="product-short-text mt-4">
              <h3 class="heading heading-xs strong-500 text-uppercase">
                Description:
              </h3>
              <p>
                <%= @item.description %>
              </p>
            </div>

            <!-- Price tag -->
            <div class="product-price py-3"><strong><%= @item.price %></strong>€</div>

            <!-- Add to cart button -->
              <%= link_to 'ajouter au panier', add_path(@item.id), class: 'btn btn-styled btn-lg btn-block btn-base-1 btn-cart mt-2' %>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice border-top">
  <div class="container">
    <div class="section-title section-title--style-1 text-center">
      <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
        <span>Nos Meilleurs Produits</span>
      </h3>
      
      <span class="section-title-delimiter clearfix d-none"></span>
    </div>
    <div class="row-wrapper">

      <div class="row cols-xs-space cols-sm-space cols-md-space">
                      <% Item.ids.sample(4).each do |iid| %>

        <div class="col-lg-3 col-md-6">
                

          <div class="block product bg-transparent no-radius">
            <div class="product-image">
              <div class="view view-first">
                <a href="<%= item_path(iid) %>">
                  <img src="<%= Item.find(iid).url %>">
                </a>
              </div>

              <div class="block-body px-0">
                <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= Item.find(iid).title %></h3>
                <div class="price-wrapper">
                  <span class="price heading-6 c-gray-light strong-400">€<span class="price-value"><%= Item.find(iid).price %></span></span>
                </div>
              </div>
            </div>
              
          </div>
        
      
        </div>  
        <% end %>

</section>
