<section class="slice-lg sct-color-1 page-title">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h3 class="heading heading-1 strong-400 text-capitalize mb-2">
                                            <span>Sofa, with open end, Arsta golden-yellow</span>
                                        </h3>

                                        <ol class="breadcrumb breadcrumb--style-2 justify-content-center">
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Home</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Shop</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-normal">Product description</a>
                                            </li>
                                        </ol>
                                    </div>

                                    <!-- Fluid text paragraph -->
                                    <div class="fluid-paragraph text-center mt-4">
                                        <p class="lead line-height-1_8">
                                            Parturient mus aenean a suspendisse est ligula eu dui a ultricies dictumst porttitor rhoncus a vestibulum est parturient.
                                        </p>
                                        <span class="heading heading-2 strong-600 d-block mt-5">$2850.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="gallery-container">
                                        <div id="slideshow" class="gallery-top no-padding bg-minimalist"></div>
                                        <div id="slideshow_thumbs" class="swiper-js-container gallery-thumbs gallery-thumbs--style-1 mt-4">
                                            <div class="swiper-container" data-swiper-items="5" data-swiper-space-between="10" data-swiper-xs-items="3" data-swiper-xs-space-between="10" data-swiper-sm-items="4" data-swiper-sm-space-between="10">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <a href="../../assets/images/prv/shop/home-deco/img-lg-1.png" data-desoslide-index="0">
                                                            <img src="../../assets/images/prv/shop/home-deco/img-lg-1.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="../../assets/images/prv/shop/home-deco/img-lg-2.png" data-desoslide-index="1">
                                                            <img src="../../assets/images/prv/shop/home-deco/img-lg-2.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="../../assets/images/prv/shop/home-deco/img-lg-3.png" data-desoslide-index="2">
                                                            <img src="../../assets/images/prv/shop/home-deco/img-lg-3.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="../../assets/images/prv/shop/home-deco/img-lg-4.png" data-desoslide-index="3">
                                                            <img src="../../assets/images/prv/shop/home-deco/img-lg-4.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-5 ml-lg-auto">
                                    <div class="product-description-wrapper">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-default">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg">
                                                                    <option>Color</option>
                                                                    <option>Yellow</option>
                                                                    <option>Orange</option>
                                                                    <option>Black</option>
                                                                    <option>Purple</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control form-control-lg text-center" value="1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <!-- Add to cart button -->
                                                            <button type="button" class="btn btn-lg btn-block btn-gray-dark btn-icon-left">
                                                                <i class="icon ion-bag"></i> Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Rating stars -->
                                        <div class="rating mt-2">
                                            <span class="star voted" rel="1"></span>
                                            <span class="star voted" rel="2"></span>
                                            <span class="star voted" rel="3"></span>
                                            <span class="star" rel="4"></span>
                                            <span class="star" rel="5"></span>

                                            <span class="rating-count">(2 customer reviews)</span>
                                        </div>

                                        <span class="space-xs-md"></span>

                                        <!-- Product description -->
                                        <div class="product-short-text">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus malesuada fames turpis egestas. Vestibulum tortor quam feugiat vitae ultricies eget tempor.
                                            </p>

                                            <ul class="icons mt-4">
                                                <li class="text-sm">
                                                    <i class="icon icon-clothes-029"></i> Exterior: 98% cotton, 2% elastane
                                                </li>
                                                <li class="text-sm">
                                                    <i class="icon icon-electronics-002"></i> Machine wash up to 30&deg;/86&deg;F gentle cycle
                                                </li>
                                                <li class="text-sm">
                                                    <i class="icon icon-electronics-043"></i> Iron up to 110&deg;C/230&deg;F
                                                </li>
                                            </ul>

                                            <ul class="inline-links inline-links--style-1 mt-4">
                                                <li>
                                                    <a href="#">Twitter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Facebook</a>
                                                </li>
                                                <li>
                                                    <a href="#">Pinterest</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice bg-minimalist" id="sct_products">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner heading-5 strong-600 text-capitalize">
                                    <span>You may also like</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-3.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Metallic dark table
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">500.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-4.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Fabric box chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">630.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-5.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Modern white chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">300.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-7.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Cinnamon candle
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">75.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-1.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        White wooden chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">450.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-2.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Decoration set
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">185.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-6.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Decorative wood chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">200.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/home-deco/img-8.png">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Minimalist wall clock
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">200.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
